KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_CLIENT_SECRET=****
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=kavss
LEARNING_MODE=false
PYTHONIOENCODING=utf-8

# SPIFFE Configuration
SPIFFE_ENABLED=true
SPIFFE_BRIDGE_ID=spiffe://runtime-shield/bridge
SPIFFE_SERVER_ID=spiffe://runtime-shield/secure-runtime-shield
ALLOWED_SPIFFE_IDS=spiffe://runtime-shield/agent,spiffe://runtime-shield/dashboard,spiffe://runtime-shield/bridge,spiffe://runtime-shield/secure-runtime-shield
SPIRE_AGENT_SOCKET=\\.\pipe\spire-agent

SPIFFE_SVID_PATH=c:keycloak-mcp-server\spire\certs\agent.crt
SPIFFE_BUNDLE_PATH=c:keycloak-mcp-server\spire\certs\ca.crt

NVIDIA_API_KEY= *****
NIM_BASE_URL=https://integrate.api.nvidia.com/v1